stages:
  - test
  - mirror

variables:
  GITHUB_REPO: git@github.com:strizhenko/gitlab-dock-compose.git

# Ваши обычные jobs
test-simple:
  stage: test
  image: alpine:latest
  script:
    - echo "Testing before mirroring to GitHub"
  tags:
    - docker

# Mirror to GitHub
mirror-to-github:
  stage: mirror
  image: alpine:latest
  before_script:
    - apk add --no-cache git openssh-client
    - mkdir -p ~/.ssh
    - echo "$GITHUB_SSH_PRIVATE_KEY" > ~/.ssh/github_mirror
    - chmod 600 ~/.ssh/id_ed25519
    - ssh-keyscan github.com >> ~/.ssh/known_hosts
  script:
    - git remote add github $GITHUB_REPO || true
    - git push --mirror github
  only:
    - main
  tags:
    - docker
